:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
}

.app {
  padding: 1.5rem;
}

.home,
.notFound,
.contactDetails,
.addContact {
  padding: 1.5rem;
  background: #1a1a1a;
  color: white;
  border-radius: 12px;
}

.contactList {
  padding: 0.5rem;
  margin: 0;
  list-style: none;
  background: #1a1a1a;
  color: white;
  border-radius: 12px;
}


.input {
  width: 85%;
  padding: 8px;
  margin: 5px;
}

.navBar {
  background: #333;
  padding: 0.8rem;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

a {
  font-weight: 500;
  color: #ffff00;
  text-decoration: inherit;
}

a:hover {
  color: #9d9d00;
}

body {
  margin: 0;
}

button {
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ffff00;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333333;
  cursor: pointer;
  transition: border-color 0.25s;
}

.smallButton {
  margin-top: 0rem;
  padding: 0.2rem;
  float: right;
}

button:hover {
  border-color: #ffffff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
